<div class="container bg-light">
  <div class="row text-center">
    <div class="col">
      <h1 class="text-center text-info my-4">TODO</h1>
        <form id="form" class="mb-4">
          <input type="text" id="input" placeholder="TODOを入力" autocomplete="off" class="form-control">
          <input type="submit">
        </form>
        <ul class="list-group text-secondary"></ul>
    </div>
  </div>
</div>
